<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.demo.mapper.UserInfoMapper"> <!-- 적용되는 위치 -->
	<select id="selectUserInfoList" resultType="com.ezen.demo.vo.UserInfoVO"> <!-- id=메서드 명-->
		SELECT * FROM USER_INFO
	</select>
</mapper>