<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.demo.mapper.UserInfoMapper"> <!-- 적용되는 위치 -->
	<sql id="userInfoCols"> <!-- 공통부문 -->
		UI_NUM, UI_ID, UI_NAME, UI_PWD, UI_ZIP, UI_EMAIL, UI_ADDR1, UI_ADDR2,
		UI_PROFILE, UI_PROFILE_IMG_PATH
	</sql>

	<!-- id중복확인용 쿼리 -->
	<select id="selectUserInfoById" resultType="com.ezen.demo.vo.UserInfoVO">
		SELECT
		UI_NUM, UI_ID, UI_NAME, UI_PWD, UI_ZIP, UI_EMAIL, UI_ADDR1, UI_ADDR2,
		UI_PROFILE, UI_PROFILE_IMG_PATH
		FROM USER_INFO
		WHERE UI_ID = #{uiId}
	</select> 

	<!-- 로그인 -->
	<select id="selectUserInfoByIdAndPwd" resultType="com.ezen.demo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_ID = #{uiId}
		AND UI_PWD = #{uiPwd}
	</select>
	
	<select id= "selectUserInfoByNum" resultType="com.ezen.demo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_NUM = #{uiNum}
	</select>


	<!-- 회원가입 -->
	<insert id="insertUserInfo" parameterType="com.ezen.demo.vo.UserInfoVO">
		INSERT INTO USER_INFO(UI_ID, UI_NAME, UI_PWD, UI_EMAIL,
		UI_ZIP, UI_ADDR1, UI_ADDR2, UI_PROFILE)
		VALUES(#{uiId}, #{uiName},
		#{uiPwd}, #{uiEmail}, #{uiZip}, #{uiAddr1}, #{uiAddr2}, #{uiProfile})
	</insert>
	
	<!-- 탈퇴 -->	
	<delete id ="deleteUserInfo" parameterType="com.ezen.demo.vo.UserInfoVO">
		DELETE FROM USER_INFO WHERE UI_NUM = #{uiNum}
	</delete>
	
	<!-- 정보수정 -->
	<update id="updateUserInfo"  parameterType="com.ezen.demo.vo.UserInfoVO"> 
		UPDATE USER_INFO
		SET UI_NAME=#{uiName},
		UI_ZIP=#{uiZip},
		UI_ADDR1=#{uiAddr1},
		UI_ADDR2=#{uiAddr2},
		UI_EMAIL=#{uiEmail},
		UI_PROFILE=#{uiProfile}
		WHERE UI_NUM=#{uiNum}
	</update>


</mapper>